services:
  app:
    build: .
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "MydbMoodle41@kluh#1"
      MYSQL_DATABASE: laravel_docker
      MYSQL_USER: laraveluser3
      MYSQL_PASSWORD: "MydbMoodle41@kluh#1"
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: